/* 重置樣式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans TC", "Rubik",'Libre Baskerville','Century Gothic', Arial;
    line-height: 1.6;

}

/* 主要內容區域樣式 */
.main-content {
    margin-top: 72px;
    @media (max-width: $mobile-width) {
        margin-top:43px;
    }
}

/* 全域連結樣式 */
a {
    color: $primary-color;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
