* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

#app ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#app ul li{
    width: 28%;
    margin: 80px 5%;
    display: flex;
    justify-content: center;
    align-items: center;

}
ul,ul li{
    margin: 0;
    padding: 0;
    list-style: none;
}

.rec-container {
    position: relative;
    width: 100%;
    height: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="300" height="150"><path fill="transparent" stroke="%23000" stroke-width="3" d="M10 10h280v130H10z"/><path stroke="%23000" stroke-width="3" d="m10 10 280 130M290 10 10 140"/></svg>') no-repeat;
    background-size: 100%;
    padding-bottom: 16%;

}

/* 隊伍位置樣式 */
.team {
    position: absolute;
    font-size: 16px;
    font-weight: bold;
}

/* 四角形比賽樣式 */
.rec-container .top-left {
    top: -40px;
    left: 0;
    transform: translateX(-50%);
}

.rec-container .top-right {
    top: -40px;
    right: 0;
    transform: translateX(50%);
}

.rec-container .bottom-left {
    bottom: -40px;
    left: 0;
    transform: translateX(-50%);
}

.rec-container .bottom-right {
    bottom: -40px;
    right: 0;
    transform: translateX(50%);
}

/* 三角形比賽樣式 */
.triangle-container{
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="300" height="250"><polygon points="150,10 290,230 10,230" fill="transparent" stroke="%23000" stroke-width="3"/></svg>') no-repeat;
    background-size: 100%;
    width: 100%;
    height: 0;
    padding-bottom: 23%;
    position: relative;
}


.triangle-container .top {
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.triangle-container .bottom-left {
    bottom: -20px;
    left: 0;
    transform: translateX(-50%);
}

.triangle-container .bottom-right {
    bottom: -20px;
    right: 0;
    transform: translateX(50%);
}

/* 比分顯示樣式 */
.score {
    position: absolute;
    font-size: 18px;
    font-weight: bold;
}

/* 四角形比分樣式 */
.top-center {
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.bottom-center {
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
}

.left-center {
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.right-center {
    top: 50%;
    right: -30px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
}

/* 三角形比分樣式 */
.triangle-container .top {
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    
}
.triangle-container .score.top {
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.triangle-container .left {
    bottom: -20px;
    left: 0;
    transform: translateX(-50%);
}

.triangle-container .score.bottom-left{
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}


.triangle-container .bottom-right {
    bottom: -20px;
    right: 0;
    transform: translateX(50%);
}

.triangle-container .score.bottom-right{
    top: 50%;
    right: -30px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    bottom: inherit;
}



/* 對角線樣式 */
.diagonal-score {
    position: absolute;
    font-size: 18px;
}

.top-left-bottom-right {
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-25deg);
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.top-left-bottom-right span {
    display: inline-block;
    width: 50%;
}

.top-right-bottom-left {
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(25deg);
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.top-right-bottom-left span {
    display: inline-block;
    width: 50%;
}

/* 中心文字樣式 */
.center-text {
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 對角線 */
.diagonal {
    position: absolute;
    width: 100%;
    height: 100%;
    border-left: 5px solid black;
    transform-origin: center;
}

.diagonal.left {
    width: 110%;
    height: 2px;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(24deg);
}

.diagonal.right {
    width: 110%;
    height: 2px;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-24deg);
}


.first-place {
    font-weight: bold;
    color: red;
    border: 2px solid red;
    padding: 5px;
    border-radius: 5px;
}
